<div class="navbar">
  <div class="navbar-left">
    <a href="https://github.com/Ihosvani" target="_blank" style="color: white; background-color: none;">
      <i class="devicon-github-plain"></i>
    </a>
  </div>
  <div class="navbar-right">
    <a class="right-item" routerLink="">Task Manager</a>
    <a class="right-item" routerLink="register">Register</a>
    <a class="right-item" routerLink="login">Login</a>
    <a class="right-item" href="http://IhosvaniPortfolio.com" target="_blank">Other Projects</a>
  </div>
</div>
