.right-item{
  color: white;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  background-color: rgba(0, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s linear;
}

.right-item:hover{
  background-color: aquamarine;
  color: black;
}

a{
  text-decoration: none;
}

i{
  font-size: 50px;
  transition: 0.5s linear;
}

i:hover{
  color: aquamarine;
}
