<!DOCTYPE html>
<html>
  <header>
    <meta charset="UTF-8">
    <meta name="description" content="Free Task Manager">
    <meta name="keywords" content="Task Manager, Ihosvani Noa">
    <meta name="author" content="Ihosvani Noa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
  </header>
  <body>
    <app-navigation-bar></app-navigation-bar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </body>
  </html>
