/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

*{
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar{
  width: 100%;
  position: fixed;
  justify-self: flex-start;
  display:flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar-left{
  margin: 0px 0px 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-right{
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main{
  flex: 1;
}

.footer{
  justify-self: flex-end;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gainsboro;
}

.footer-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
